<h1><a href="/">{{ site.title }}</a></h1>
<p>{{ site.description }}</p>
<p class="view"><a href="https://github.com/brunorozendo/log4jdbc-log4j2">View the Project on GitHub</a></p>
<p class="view"><a href="/download">Download</a></p>
<!--
<ul>
<li><a href="/download"><strong>Download</strong></a></li>
  <li><a href="https://github.com/brunorozendo/log4jdbc-log4j2/zipball/master">Download Project<strong>ZIP File</strong></a></li>
  <li><a href="https://github.com/brunorozendo/log4jdbc-log4j2/tarball/master">Download Project<strong>TAR Ball</strong></a></li>
  <li><a href="https://github.com/brunorozendo/log4jdbc-log4j2">Fork On <strong>GitHub</strong></a></li>
</ul>
-->